.newannoun {
  margin: 50px 100px;

  .display-files {
    display: flex;
    align-items: end;
    column-gap: 20px;

    .files {
      position: relative;
      overflow: hidden;
      width: 163px;
      height: 163px;
      background: #D9D9D9;
      border-radius: 10px;
      color: #fff;
      text-align: center;
  
      .input-file {
        opacity: 0;
      }
  
      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    p {
      color: #FFD02b;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }

  }


  .data-select {
    width: 438px;
    height: 40px;
    display: block;
  }

  .ant-select {
    width: 438px;
    display: block;
    margin: 16px 0; 
  }

  .ant-input-affix-wrapper {
    width: 438px;
    height: 40px;
    display: flex;
  }

  // .ant-input {
  //   width: 438px;
  //   height: 40px;
  // }
  

  label {
    color: #828282;
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin: 16px 0;
    width: 320px;
  }

  .description {
    min-width: 622px;
    min-height: 250px;
    text-align: start;
  }

  .delete-btn {
    margin-top: 20px;
    color: white;
    background-color: rgb(230, 28, 28);
    width: 157px;
  }

  
}

.ant-popover-inner {
  .ant-btn:first-child {
    background-color: rgb(242, 240, 240);
  }
  .ant-btn:first-child:hover {
    background-color: rgb(242, 240, 240);
    color: black;
  }
  .ant-btn:last-child {
    background-color: rgb(230, 28, 28);
  }
  .ant-popconfirm-description {
    color: #000000;
  }

  
}

.old-photos {
  width: 570px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .ant-image-img {
    width: 163px;
    height: 163px;
  }
}

@media (max-width: 800px) {
  .newannoun {
    margin: 10px;

    h2 {
      font-size: 40px;
    }
  }

  .ant-input-affix-wrapper {
    width: 338px;
    height: 40px;
    display: flex;
  }

  .old-photos {
    width: 700px;

    .ant-image-img {
      width: 123px;
      height: 123px;
      gap: 10px;
    }
  }

}

@media (max-width: 600px) {
  .newannoun {
    margin: 10px;
    h2 {
      font-size: 30px;
    }

    .ant-select {
      width: 420px;
      display: block;
      margin: 16px 0; 
    }
    .description {
      min-width: 522px;
      min-height: 250px;
    }
    .ant-input-affix-wrapper {
      width: 338px;
      height: 40px;
      display: flex;
    }
  }
  .old-photos {
    width: 300px;

    .ant-image-img {
      width: 93px;
      height: 93px;
      gap: 10px;
    }
  }

  label {
    width: 470px;
  }
}

@media (max-width: 450) {
  .newannoun {
    margin: 10px;
    .ant-input-affix-wrapper {
      width: 258px;
      height: 40px;
      display: flex;
    }

    .ant-select {
      width: 420px;
      display: block;
      margin: 16px 0; 
    }
    h2 {
      font-size: 20px;
    }
    .description {
      min-width: 420px;
      min-height: 250px;
    }
  }

  .old-photos {
    width: 350px;

    .ant-image-img {
      width: 93px;
      height: 93px;
    }
  }

  label {
    width: 420px;
  }
}

@media (max-width: 320px) {
  .newannoun {
    margin: 10px;
    h2 {
      font-size: 16px;
    }

    .ant-input-affix-wrapper {
      width: 258px;
      height: 40px;
      display: flex;
    }

    .ant-select {
      width: 258px;
      display: block;
      margin: 16px 0; 
    }

    .description {
      min-width: 290px;
      min-height: 250px;
    }
  }

  .old-photos {
    width: 300px;

    .ant-image-img {
      width: 93px;
      height: 93px;
      gap: 10px;
    }
  }

  label {
    width: 290px;
  }
}