.newannoun {
  margin: 50px auto;
  max-width: 1080px;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
  .display-files {
    display: flex;
    align-items: end;
    column-gap: 20px;

    .files {
      position: relative;
      overflow: hidden;
      width: 163px;
      height: 163px;
      background: #d9d9d9;
      border-radius: 10px;
      color: #fff;
      text-align: center;

      .input-file {
        opacity: 0;
      }

      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    p {
      color: #ffd02b;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
    }
  }

  .data-select {
    width: 100%;
    max-width: 438px;
    height: 40px;
    display: block;
  }

  .ant-select {
    width: 100%;
    max-width: 438px;
    display: block;
    margin: 16px 0;
  }

  .ant-input-affix-wrapper {
    width: 100%;
    max-width: 438px;
    height: 40px;
    display: flex;
  }

  label {
    color: #828282;
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin: 16px 0;
    width: 320px;
  }

  .description {
    width: 100%;
    max-width: 622px;
    min-height: 250px;
    text-align: start;
  }

  .delete-btn {
    margin-top: 20px;
    color: white;
    background-color: rgb(230, 28, 28);
    width: 157px;
  }
}

.ant-popover-inner {
  .ant-btn:first-child {
    background-color: rgb(242, 240, 240);
  }
  .ant-btn:first-child:hover {
    background-color: rgb(242, 240, 240);
    color: black;
  }
  .ant-btn:last-child {
    background-color: rgb(230, 28, 28);
  }
  .ant-popconfirm-description {
    color: #000000;
  }
}

.old-photos {
  width: 100%;
  max-width: 570px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .ant-image-img {
    width: 163px;
    height: 163px;
  }
}

@media (max-width: 800px) {
  .newannoun {
    h2 {
      font-size: 40px;
    }
  }

  .old-photos {
    .ant-image-img {
      width: 123px;
      height: 123px;
      gap: 10px;
    }
  }
}

@media (max-width: 600px) {
  .newannoun {
    // margin: 10px;
    h2 {
      font-size: 30px;
    }
  }
  .old-photos {
    .ant-image-img {
      width: 93px;
      height: 93px;
      gap: 10px;
    }
  }
}

@media (max-width: 450) {
  .newannoun {
    h2 {
      font-size: 20px;
    }
    .old-photos {
      .ant-image-img {
        width: 93px;
        height: 93px;
      }
    }
  }
}

@media (max-width: 320px) {
  .newannoun {
    h2 {
      font-size: 16px;
    }
    .old-photos {
      .ant-image-img {
        width: 93px;
        height: 93px;
        gap: 10px;
      }
    }
  }
}
