.contacts {
  max-width: 1080px !important;
  width: 100%;
  margin: 0 auto;
  min-height: 60vh;
  padding-top: 50px;
  @media screen and (max-width: 768px) {
    min-height: auto;
  }

  &_title {
    padding: 0 !important;
  }
  &_card {
    padding-top: 30px;
    min-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &_title {
      margin-top: 30px;
    }
    &_parag {
      text-align: center;
      max-width: 230px;
      min-height: 70px;
    }
  }
}
