.main {
  background: #ffffff !important;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
  &_wrapper-search{
    padding: 0 15px !important;
  }
  &_type {
    max-width: 530px;
    height: 120px;
    background: url('/main/image1.png');
    background-repeat: no-repeat;
    background-position: right 0;
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @media screen and (max-width: 720px) {
      height: 70px;
      max-width: 100%;
    }
    &_mobile{
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
    }
  }
  &_type_2 {
    float: right;
    width: 100%;
    max-width: 530px;
    height: 120px;
    background: url('/main/image2.png');
    background-repeat: no-repeat;
    background-position: right 0;
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @media screen and (max-width: 720px) {
      max-width: 100%;
      height: 70px;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.main_type_text {
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.main_type_wrapper {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap !important;
  gap: 20px;
  @media screen and (max-width: 720px) {
    flex-wrap: wrap !important;
  }
}

.sideBar {
  background: transparent !important;
  min-width: 250px !important;
  padding: 20px !important;
  &_title {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
  span {
    font-size: 13px;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      color: #FFD02b;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  @media screen and (max-width: 720px) {
    left: -100%;
    position: absolute !important;
    z-index: 9 !important;
    background: white !important;
    height: 100vh !important;
  }
}

.close_btn {
  margin-left: 15px;
  display: none;
  @media screen and (max-width: 720px) {
    display: block;
  }
}
.category_list_item {
  cursor: pointer;
  &:hover {
    span {
      transition: 0.3s;
      color: #FFD02b;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}
