.card-org {
  width: 100%;
  max-width: 805px;
  border-radius: 10px;
  height: 143px;
  padding: 20px 18px;
  display: flex;
  color: #FAFAFA;
  gap: 30px;
  &_title {
    color: #FFD02b !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  &_image {
    height: 105px !important;
    width: 105px !important;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  &-hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #F2F2F2;
    background: #F2F2F2;
  }
  &_content {
    flex: 1;
    &_location {
      display: flex;
      justify-content: start;
      gap: 5px;
      &_image {
        border-radius: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        border: 1px solid #FFD02b;
        width: 36px !important;
        height: 36px !important ;
      }
      &_title {
        font-size: 14px !important;
        color: #333333 !important;
        margin: 0 !important;
      }
      &_address {
        color: #828282 !important;
        margin: 0 !important;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: inherit;

    img {
    width: 30px;
    height: 30px;
    justify-items: end;
  }
}

.description-announ {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 60px;
}
