.header {
  display: grid;
  grid-template-columns: 1fr auto;
  background: white;
  max-width: 1800px;

  .header__logo {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  .header__list {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(6, auto);

    a {
      color: #333333;
      font-size: 16px;
      font-weight: 400;
    }

    .favorites {
      width: 30px;
      height: 30px;
    }
  }

  .mobile-btn {
    display: none;

    .menu-icon {
      font-size: 35px;
    }
  }
}

@media (max-width: 1024px) {
  
  .header {
    .header__logo {
      z-index: 11;
    }

    .mobile-btn {
      display: block;
      position: absolute;
      right: 10px;
      top: 27px;
      cursor: pointer;
      z-index: 10;
    }
  
    .header__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 10;
      transition: left 1s;
      padding-top: 100px;

      a {
        width: 212px;
        text-align: center;
        
      }
    }
  
    .active {
      left: 0;
    }
  }
}

// .header {
//     max-width: 100%;
//     background: white;
//     display: flex;
//     justify-content: space-between;
// }

// .header__logo {
//     color: #333333;
//     font-size: 24px;
//     font-weight: 700;
//     cursor: pointer;
//     margin: auto 0 auto 70px;
// }

// .header__link {
//     color: #333333;
//     border: none;
//     background: transparent;
//     margin-right: 65px;
// }

// .header__link-ms_inside {
//     padding: 10px, 25px;
//     color: #333333;
//     margin-right: 35px;
// }

// .header__link-nm_inside {
//     padding: 10px, 25px;
//     color: #333333;
//     margin-right: 20px;
//     font-size: 14px;
//     font-weight: 400;
// }

// .header__link-avatar_inside {
//     margin-right: 20px;
//     padding: 10px 25px;
//     color: #333333;
//     gap: 10px;
//     width: 96px;
//     height: 37px;
//     border: 1px solid #828282;
//     border-radius: 6px;
// }

// .header__btn {
//     color: #FFFFFF;
//     width: 212px;
//     height: 40px;
//     margin-right: 80px;
// }

// .nav__btn {
//     color: #FFFFFF;
//     width: 212px;
//     height: 40px;
//     margin-right: 80px;
// }

// .header__list {
//     margin-left: 600px;
// }

// .nav__menu_icon {
//     display: none;
// }
// .nav__menu_icon-close {
//     display: none;
// }

// .nav__menu  {
//     display: none;
// }



// @media screen and (max-width: 1280px) {
//     .header__list {
//         margin-left: 300px;
//     }
// }

// @media screen and (max-width: 1100px) {
//     .header__list {
//         margin-left: 250px;
//     }
    
// }

// @media screen and (max-width: 1000px) {
//     .header__list {
//         margin-left: 150px;
//     }
// }


// @media screen and (max-width: 830px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -200px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -500px;
//         margin-top: 13px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 35%;
//     }
//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 40px;
//         margin-right: -200px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }

//     .nav_line {
//         width: 0px;
//         height: 290px;
//         background-color: #333333;
//         border: 1px solid #F2F2F2;
//         margin-right: -80px;
//         margin-left: 45px;
//     }
// }



// @media screen and (max-width: 740px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -120px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -500px;
//         margin-top: 10px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 35%;
//     }
//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 40px;
//         margin-right: -150px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }

//     .nav_line {
//         width: 0px;
//         height: 290px;
//         background-color: #333333;
//         border: 1px solid #F2F2F2;
//         margin-right: -80px;
//         margin-left: 45px;
//     }
// }


// @media screen and (max-width: 670px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -100px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -450px;
//         margin-top: 13px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 35%;
//     }
//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 40px;
//         margin-right: -150px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }

//     .nav_line {
//         width: 0px;
//         height: 290px;
//         background-color: #333333;
//         border: 1px solid #F2F2F2;
//         margin-right: -30px;
//         margin-left: 45px;
//     }
// }


// @media screen and (max-width: 600px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -100px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -450px;
//         margin-top: 13px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 40%;
//     }

//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 40px;
//         margin-right: -150px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }
//     .nav_line {
//         display: none;
//     }
// }


// @media screen and (max-width: 500px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -100px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -450px;
//         margin-top: 13px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 50%;
//     }

//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 40px;
//         margin-right: -150px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }
//     .nav_line {
//         display: none;
//     }
// }



// @media screen and (max-width: 400px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//     }
//     .nav__menu_icon {
//         margin-right: -130px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -450px;
//         margin-top: 20px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 70%;
//     }

//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 70px;
//         margin-right: 2px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }
//     .nav_line {
//         display: none;
//     }
// }



// @media screen and (max-width: 300px) {
//     .header__list {
//         display: none;
//     }
//     .nav__menu_icon {
//         display: block;
//         margin: auto 0;
//         margin-right: -190px;
//     }
//     .nav__menu_icon-close {
//         display: block;
//         margin-right: -400px;
//         margin-top: 20px;
//     }
//     .header {
//         max-width: 724px;
//         margin-bottom: 100%;
//     }

//     .header_close {
//         margin-bottom: 0;
//     }

//     .nav__menu {
//         display: flex;
//         flex-direction: column;
//         margin-top: 70px;
//         margin-right: -70px;
//     }

//     .nav-avatar_inside-menu {
//         color: #333333;
//         width: 96px;
//         height: 37px;
//         margin-bottom: 33px;
//     }

//     .nav__btn {
//         color: #FFFFFF;
//         width: 190px;
//         height: 35px;
//         margin-left: -10px;
//     }
//     .nav_line {
//         display: none;
//     }
// }

