.footer {
    max-width: 100%;
    margin: 0 auto;
    // height: 290px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin-left: 125px;
}

.footer__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-left: 125px;
}

.footer__link-div {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #828282;
    margin-left: 15px;
}

.footer__link_mg {
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-left: 182px;
}


.footer_mobil {
    display: none;
}

@media screen and (max-width: 1400px) {
    .footer__title {
        margin-left: 110px;
    }

    .footer__link {
        margin-left: 100px;
    }

    .footer__link_mg {
        margin-left: 150px;
    }
    .footer_mobil {
        display: none;
    }
    
}



@media screen and (max-width: 1250px) {
    .footer {
        max-width: 100%;
        margin: 0 auto;
    }
    .footer__title {
        margin-left: 60px;
    }

    .footer__link {
        margin-left: 60px;
    }

    .footer__link_mg {
        margin-left: 105px;
    }
    .footer_mobil {
        display: none;
    }
    
}
  

@media screen and (max-width: 1100px) {
    .footer {
        width: 100%;
        margin: 0 auto;
    }
    .footer__title {
        margin-left: 60px;
    }

    .footer__link {
        margin-left: 60px;
    }

    .footer__link_mg {
        margin-left: 105px;
    }
    .footer_mobil {
        display: none;
    }
    
}

@media screen and (max-width: 1280px) {
    .footer {
        width: 100%;
        margin: 0 auto;
    }
    .footer__title {
        margin-left: 60px;
    }

    .footer__link {
        margin-left: 60px;
    }

    .footer__link_mg {
        margin-left: 105px;
    }
    .footer_mobil {
        display: none;
    }
    
}
  
@media screen and (max-width: 1400px) {
    .footer__title {
        margin-left: 110px;
    }

    .footer__link {
        margin-left: 100px;
    }

    .footer__link_mg {
        margin-left: 150px;
    }
    .footer_mobil {
        display: none;
    }
    
}

@media screen and (max-width: 1280px) {
    .footer {
        padding-left: 65px;
    }
    .footer__title {
        margin-left: 93px;
    }

    .footer__link {
        margin-left: 88px;
    }

    .footer__link_mg {
        margin-left: 136px;
    }
    .footer__link-div {
        margin-left: 3px;
    }
    .footer__link_long-word {
        width: 200px;
    }  
    .footer_mobil {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .footer {
        max-width: 100%;
        margin: 0 auto;
    }
    .footer__title {
        margin-left: 60px;
    }

    .footer__link {
        margin-left: 60px;
    }

    .footer__link_mg {
        margin-left: 105px;
    }
    .footer_mobil {
        display: none;
    }
    
}
  

@media screen and (max-width: 1000px) {
    .footer {
        width: 100%;
        margin: 0 auto;
    }
    .footer_mobil {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    .footer {
        max-width: 100%;
        margin: 0 auto;
    }
    .footer__title {
        margin-left: 50px;
    }

    .footer__link {
        margin-left: 50px;
    }

    .footer__link_mg {
        margin-left: 90px;
    }
    .footer_mobil {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .footer {
        max-width: 100%;
        margin-top: 100px;
        font-size: 14px;
    }
    .footer__title {
        margin-left: 30px;
    }

    .footer__link {
        margin-left: 30px;
    }

    .footer__link_mg {
        margin-left: 60px;
    }
    .footer_mobil {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .footer_container {
        display: none;
    }
    .footer_mobil {
        display: block;
    }
    .footer__mb_list {
        display: flex;
        gap: 30px;
        span {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #333333;
            margin-bottom: 20px;
        }
        a {
            font-weight: 300;
            font-size: 13px;
            color: #000000;
            margin-bottom: 5px;
        }


    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-right: 30px;
    }
}
  


@media screen and (max-width: 740px) {
    .footer_container {
        display: none;
    }
    .footer_mobil {
        display: block;
    }
    .footer__mb_list {
        display: flex;
        flex-wrap: wrap;

        span {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #333333;
            margin-bottom: 20px;
            margin-top: 30px;
        }
        a {
            font-weight: 300;
            font-size: 13px;
            color: #000000;
            margin-bottom: 5px;
        }


    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin-right: 30px;
    }
}
  
