.links {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #333333;
        padding-top: 15px;
    }
    .active {
        text-decoration-line: underline;
        color: #80DBA6
    }
}
