.links {
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #333333;
        padding-top: 15px;
    }
    .active {
        text-decoration-line: underline;
        color: #80DBA6
    }
}

.profile__line {
    width: 0px;
    height: 763;
    border: 1px solid #F2F2F2;
    margin-top: 22px;
    margin-right: 30px;
    margin-left: 45px;
}

.profile {
    max-width: 1080px !important;
    width: 100% !important;
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.profile__card {
    width: 275px;
    border: none;
    @media screen and (max-width: 730px) {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
    }
}

.profile_card_wrapper{
    @media screen and (max-width: 730px) {
        display: flex !important ;
        justify-content: center !important;
    }
}


