.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    top: 0;
    position: absolute;
    width: 100%;
    max-width: 368px;
    height: 465px;
    background: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    padding: 35px 0 1px 0;
    
    .card_name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        letter-spacing: 0.005em;
        color: #333333;
        margin-bottom: 20px;
    }
}


.nameIps{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 306px;
    
    span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #828282;
    }
    input {
        width: 306px;
        height: 40px;
        left: 0px;
        top: 32px;
        border: 1px solid #BDBDBD;
        border-radius: 4px;
    }
}

.name_card {
    .btn {
        background-color: transparent;
        border: none;
        margin-top: 10px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card_title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #333333;
  }
  .card_title__password {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #333333;
    margin-top: -50px;
  }

  .descInp {
    width: 306px;
    height: 150px;
    left: 0px;
    top: 32px;
    border: 1px solid #828282;
    border-radius: 6px;
  }

  .inps {
    span {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        color: #828282;
        margin: 25px 0 10px 4px;
        border: none;
    }
  }